In [3]:
aa = []

hap = 0

for i in range(0,4):
    aa.append(int(input(str(i+1)+"번째 숫자 : ")))
    hap = hap + aa[i]
    
print("합계 ==> %d" % hap)

1번째 숫자 : 10
2번째 숫자 : 20
3번째 숫자 : 30
4번째 숫자 : 40
합계 ==> 100

In [20]:
aa = [10,20,30,40]
del(aa)
aa

NameError: name 'aa' is not defined

In [22]:
myList = [30, 10, 20]
print(myList)

[30, 10, 20]

In [23]:
myList.append(40)
myList

[30, 10, 20, 40]

In [24]:
number = myList.pop()
print(number)
print(myList)

40
[30, 10, 20]

In [25]:
myList.sort()
print(myList)

[10, 20, 30]

In [26]:
myList.reverse()
myList

[30, 20, 10]

In [27]:
idx = myList.index(30)
print(idx)

0

In [28]:
myList.insert(2,222)
myList

[30, 20, 222, 10]

In [29]:
myList.remove(222)
myList

[30, 20, 10]

In [30]:
myList.extend([77, 88, 99])
myList

[30, 20, 10, 77, 88, 99]

In [31]:
num = myList.count(9)
print(num)

0

In [32]:
myList = [30, 10, 20]
newList = sorted(myList)
print("myList : ", myList)
print("newList : ", newList)

myList :  [30, 10, 20]
newList :  [10, 20, 30]

In [33]:
myList.sort()
myList

[10, 20, 30]

In [39]:
list1 = []
list2 = []

value = 1

for i in range(3):
    for k in range(4):
        list1.append(value)
        value = value + 1
    list2.append(list1)
    list1 = []

for i in range(0, 3):
    for k in range(0,4):
        print("%3d" %list2[i][k], end=" ")
    print()

  1   2   3   4
  5   6   7   8
  9  10  11  12